body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(../public/Montserrat-VariableFont_wght.ttf);
}
.montserrat {
  font-family: Montserrat;
}

@font-face {
  font-family: PTserif;
  src: url(../public/PTSerif-Regular.ttf);
}
.ptserif {
  font-family: Ptserif;
  color: white;
}
